@import 'jeet'

.top
  width 100%
  content ""
  display table
  clear both

.back
  float left
  margin 10px
  zoom 0.6
  
.room
  padding 20px
  
.username.lobster
  float right
  margin 10px
  font-size 1.2em
  
.chat-area
  border 2px solid
  padding 10px
  text-align left
  height 100%
  col(3/4)
  
.message
  text-align left

.when
  font-size 0.7em
  
.users
  border 2px solid
  col(1/4)
  
.new-message
  position absolute
  bottom 0
  width 100%
  padding 0 12px
  
  input
    width calc(100% - 105px)
    
